<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>714870511269-fm4hkke83c0mhrag3espqodp91qvkb0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714870511269-fm4hkke83c0mhrag3espqodp91qvkb0e</string>
	<key>API_KEY</key>
	<string>AIzaSyBdvc3gc-mMvk5A0rbuKf--SjFYTgp4sZI</string>
	<key>GCM_SENDER_ID</key>
	<string>714870511269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.concrete.isMVCbad</string>
	<key>PROJECT_ID</key>
	<string>ismvcbad</string>
	<key>STORAGE_BUCKET</key>
	<string>ismvcbad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:714870511269:ios:df602bea836163e2</string>
	<key>DATABASE_URL</key>
	<string>https://ismvcbad.firebaseio.com</string>
</dict>
</plist>